{% extends "base.html" %}

{% block title %}
<title>Mentoring</title>
{% endblock title %}

{% block content %}
<h1>NOTICE</h1>
<p>
    I am in the process of moving this work to Notion.
</p>

<h2>Mentees</h2>
<ul>
    <li>2020 - 2021: <a href="https://www.linkedin.com/in/bhsuarez/">Brian Suarez</a>
        <p>
            I helped Brian learn Python.

            During our time together
        </p>>
    </li>
    <li>2019 - 2020: <a href="https://www.linkedin.com/in/philipp-birklbauer/">Philipp Birklbauer</a>
        <br>General programming practices: Agile, Testing, Code Reviews, etc.
    </li>
</ul>

<h2>Resources</h2>
<ul>
    <li><a href="/mentoring/interviewing/questions/">Interview Questions</a></li>
    <li><a href="/mentoring/interviewing/materials/">Personal Reference Material</a></li>
</ul>

<h2>Tech Talks</h2>
<ul>
    <li><a href="https://jakesikora.notion.site/Default-Mutable-Arguments-5fca1cb468034d19a043dac78029691c">Default Mutable Arguments</a></li>
    <li><a href="https://jakesikora.notion.site/Stop-Using-Dictionaries-e4cf09e8c244476ba04c137e45448aa7">Stop Using Dictionaries</a></li>
</ul>
{% endblock content %}